<!DOCTYPE html>
<html lang="en" ng-app="myModule">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <script src="script.js"></script>
</head>

<body ng-controller="myController">
    Rows to display : <input type="number" step="1" ng-model="rowLimit" max="5" min="0" />
    Sort By :
    <select ng-model="sortColumn">
        <option value="name">Name ASC</option>
        <option value="+dateOfBirth">Date of Birth ASC</option>
        <option value="+gender">Gender ASC</option>
        <option value="-salary">Salary DESC</option>
    </select>
    Search : <input type="text" placeholder="Search employees" ng-model="searchText" />
    <!-- Search : <input type="text" placeholder="Search employees" ng-model="searchText.city"/> -->
    Hide Salary: <input type="checkbox" ng-model="hideSalary" />
    <table>
        <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Date Of Birth</th>
                <th>Gender</th>
                <th>Salary(number)</th>
                <th ng-hide="hideSalary">Salary(currency)</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="employee in emp|limitTo:rowLimit|orderBy:sortColumn | filter : searchText">
                <!-- <tr ng-repeat="employee in emp|limitTo:rowLimit|orderBy:'-firstName'"> -->
                <td>{{employee.firstName | uppercase}}</td>
                <td>{{employee.lastName}}</td>
                <td>{{employee.DOB | date:"dd-MM-yyyy"}}</td>
                <td>{{employee.gender |lowercase}}</td>
                <td>{{employee.salary|number:2}}</td>
                <td ng-hide="hideSalary">{{employee.salary|currency:'$'}}</td>
            </tr>
        </tbody>
    </table>
</body>

</html>