<!DOCTYPE html>
<html lang="en" ng-app="myModule">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <script src="script.js"></script>
</head>
<body  ng-controller="myController">
    <!-- <input type="text" ng-model="message"/>
    <div>{{message}}</div> -->
    <table>
        <tr>
            <td>First Name</td>
            <td><input type="text" ng-model="emp.firstName"></td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td><input type="text" ng-model="emp.lastName"></td>

            
            
        </tr>
    </table>
    <table>
        <tr>
            <td>First Name</td>
            <td><p>{{emp.firstName}}</p></td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td><p>{{emp.lastName}}</p></td>
        </tr>
    </table>
</body>
</html>